.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  height: 270px;
  width: 320px;
  background-color: #666;
  opacity: 1;
}

.hiddenButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
  height: 270px;
  width: 320px;
  background-color: #666;
  transition: 1000ms;
  opacity: 0;
}

.calcBtn,
.numberBtn,
.mathBtn {
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  background-color: black;
  font-size: 22px;
  cursor: pointer;
}

.calcBtn,
.mathBtn {
  background-color: #2b2b2b;
}

.mathBtn:hover {
  background-color: #ea6800;
  color: black;
}

.calcBtn:hover,
.numberBtn:hover {
  background-color: #7e7e7e;
}
