.display {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: center;
  gap: 15px;
  width: 320px;
  height: 150px;
  background-color: #666;
}

.input {
  padding: 0px 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  height: 50px;
  max-width: 300px;
  font-size: 40px;
  text-align: right;
}

.secondaryInput {
  padding: 0px 10px;
  background-color: transparent;
  color: #c9c9c9;
  border: none;
  outline: none;
  height: 20px;
  max-width: 300px;
  font-size: 20px;
  text-align: right;
  cursor: default;
}

.history {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
