.historyOpen {
  height: 270px;
  width: 320px;
  background-color: #00000099;
  /* position: absolute; */
  /* top: 428px; */
}

.historyClose {
  display: none;
  visibility: hidden;
}

.list {
  margin: 0;
}

.item {
  list-style: none;
  /* padding: 0; */
  /* margin: 0; */
}
