.historyOpen {
  position: relative;
  height: 270px;
  width: 320px;
  background-color: #00000099;
  /* position: absolute; */
  /* top: 428px; */
}

.historyClose {
  display: none;
  visibility: hidden;
}

.list {
  margin: 0;
}

.item {
  list-style: none;
  color: #fff;
  font-size: 20px;
  padding-top: 5px;
  /* padding: 0; */
  /* margin: 0; */
}

.clearBtn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
